# add .env file to .gitignore
echo ".env" >> .gitignore
git rm --cached .env
git add .gitignore
git commit -m "update ignored files"

/.wwebjs_auth
/node_modules
*.json
*.jpg
*.jpeg
*.png
*.mp3
*.mp4
/numeros.js